
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конференция НННФ</title>
    <link rel="stylesheet" href="/styles/dashboard_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
                {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
                {{/if}}
            </div>
            <div>
                {{#if user}}
                    <a class="rel" href="/users/logout">Выйти</a>
                {{else}}
                    <a class="rel" href="/users/login">Войти</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="panel-left"></div>



    <div class="main-body">
        <div id="light-off">
            <div class="dialog-window">
                <a href="#" class="close">&#10006;</a>

                <form id="roleForm" action="/dashboard/admin" method="POST">
                    <input type="hidden" id="userId" name="userId">
                    <label>Изменить роль</label>
                    <select id="roleSelect" name="role">
                        <option value="Участник">Участник</option>
                        <option value="Руководитель секции">Руководитель секции</option>
                        <option value="Оргкомитет">Оргкомитет</option>
                    </select>

                    <div id="sectionSelectContainer" style="display:none; ">
                        <label>Секция</label>
                        <select id="selectOptions" name="section">
                        </select>
                    </div>

                    <button type="submit">Сохранить</button>
                </form>

            </div>
        </div>
        <div class="doclad">
            <h1>Список пользователей</h1>
            <table>
                <tr class="first-raw">
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Должность</th>
                    <th>Электронная почта</th>
                    <th>Роль</th>
                </tr>
                {{#each users}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.organisation}}</td>
                        <td>{{this.position}}</td>
                        <td>{{this.email}}</td>
                        <td><a href="#light-off" data-user-id="{{this._id}}" data-current-role="{{this.role}}">{{this.role}}</a></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" style="text-align:center">Список пуст</td>
                    </tr>
                {{/each}}
            </table>

        </div>
    </div>






    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright © 2024 Polina Akishina</p>
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const roleSelect = document.getElementById('roleSelect');
        const sectionSelectContainer = document.getElementById('sectionSelectContainer');

        roleSelect.addEventListener('change', function() {
            if (roleSelect.value === 'Руководитель секции') {
                sectionSelectContainer.style.display = 'flex';
                sectionSelectContainer.style.flexDirection = 'column';
            } else {
                sectionSelectContainer.style.display = 'none';
            }
        });

        // Инициализация выбора секции
        fetch('../list_of_sections.txt')
                .then(response => response.text())
                .then(text => {
                    const lines = text.split('\n');
                    const select = document.getElementById('selectOptions');
                    let isReading = false;
                    let countOfComments = 0;

                    lines.forEach(line => {
                        line = line.trim();

                        // Пропускаем пустые строки
                        if (line === '') return;

                        // Проверяем наличие комментария
                        if (line.startsWith('//')) {
                            countOfComments += 1;
                            return;
                        }
                        if (countOfComments === 1) isReading = true;
                        if (countOfComments === 2) isReading = false;

                        if (isReading) {
                            const optionElement = document.createElement('option');
                            optionElement.textContent = line;
                            select.appendChild(optionElement);
                        }
                    });
                });
        document.querySelectorAll('a[data-user-id]').forEach(link => {
            link.addEventListener('click', function(event) {
                const userId = event.currentTarget.getAttribute('data-user-id');
                document.getElementById('userId').value = userId;
            });
        });
    });
</script>

</body>
</html>