<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конференция НННФ</title>
    <link rel="stylesheet" href="/styles/dashboard_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
                {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
                {{/if}}
            </div>
            <div>
                {{#if user}}
                    <a class="rel" href="/users/logout">Выйти</a>
                {{else}}
                    <a class="rel" href="/users/login">Войти</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="panel-left"></div>



    <div class="main-body">
        <div id="light-off">
            <div class="dialog-window">
                <a href="#" class="close">&#10006;</a>

                <form action="/dashboard/sectionhead" method="POST" id="statusForm">
                    <input type="hidden" id="docladId" name="docladId">
                    <label>Изменить статус доклада <br></label>
                    <select  id="statusSelect" name="status">
                        <option value="На рассмотрении">На рассмотрении</option>
                        <option value="Принят">Принять</option>
                        <option value="Отклонен">Отклонить</option>
                        <option value="Отправлен на доработку">Отправить на доработку</option>
                        <option value="change-section">Отправить в другую секцию</option>
                    </select>
                    <div id="sectionSelectContainer" style="display:none; ">
                        <label>Секция</label>
                        <select id="selectOptions" name="section">
                        </select>
                    </div>
                    <button type="submit" class>Сохранить</button>

                </form>

            </div>
        </div>

        <h1>{{user.section}}</h1>
        <div class="doclad">
            <h2>Поданные доклады</h2>
            <table>
                <tr class="first-raw">
                    <th>ФИО</th>
                    <th>Электронная почта</th>
                    <th>Название доклада</th>
                    <th>Тезисы</th>
                    <th>Тип</th>
                    <th>Статус доклада</th>
                </tr>
                {{#each doclads}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.docladname}}</td>
                        <td><a class="download" href="../uploads/{{this.date}} {{this.username}} {{this.docladname}}.docx">Скачать</a></td>
                        <td>{{this.type}}</td>
                        <td><a class="download" href="#light-off" data-doclad-id="{{this._id}}">{{this.status}}</a></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" style="text-align:center">Список пуст</td>
                    </tr>
                {{/each}}
            </table>

        </div>

    </div>






    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright © 2024 Polina Akishina</p>
    </div>


</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const statusSelect = document.getElementById('statusSelect');
        const sectionSelectContainer = document.getElementById('sectionSelectContainer');

        statusSelect.addEventListener('change', function() {
            if (statusSelect.value === 'change-section') {
                sectionSelectContainer.style.display = 'flex';
                sectionSelectContainer.style.flexDirection = 'column';
            } else {
                sectionSelectContainer.style.display = 'none';
            }
        });

        // Инициализация выбора секции
        fetch('../list_of_sections.txt')
                .then(response => response.text())
                .then(text => {
                    const lines = text.split('\n');
                    const select = document.getElementById('selectOptions');
                    let isReading = false;
                    let countOfComments = 0;

                    lines.forEach(line => {
                        line = line.trim();

                        // Пропускаем пустые строки
                        if (line === '') return;

                        // Проверяем наличие комментария
                        if (line.startsWith('//')) {
                            countOfComments += 1;
                            return;
                        }
                        if (countOfComments === 1) isReading = true;
                        if (countOfComments === 2) isReading = false;

                        if (isReading) {
                            const optionElement = document.createElement('option');
                            optionElement.textContent = line;
                            select.appendChild(optionElement);
                        }
                    });
                });
        document.querySelectorAll('a[data-doclad-id]').forEach(link => {
            link.addEventListener('click', function(event) {
                const docladId = event.currentTarget.getAttribute('data-doclad-id');
                document.getElementById('docladId').value = docladId;
            });
        });
    });
</script>


</body>
</html>